<div class="jumbotron">
	<!-- <h1>The Good Folks</h1> -->
	<img src="https://farm4.staticflickr.com/3702/13591417945_16f01d8323_o.png" class="img-responsive">
	<!-- <img src="assets/the-good-folks-light.png" class="img-responsive"> -->
	<h1 style="font-size: 35px;">We're create tools to help charities prosper and encourage people to do good for the sake of doing good.</h1>
	<h2 style="color: #e74c3c">Good things, coming soon.</h2>
</div>
<hr>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<p align="center">Leave your email to stay in touch.</p>
			<form role="form">
			  <div class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
			  </div>
			  <div class="form-group">
			    <label for="fname">First Name</label>
			    <input type="text" class="form-control" id="fname" placeholder="First Name">
			  </div>
			  <div class="form-group">
			    <label for="lname">Last Name</label>
			    <input type="text" class="form-control" id="lname" placeholder="Last Name">
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>

<!-- <section>
	<h2>About The Good Folks</h2>
	<div class="row"<img src="#">
</section>

<hr>

<section>
	<h2>Contact Us</h2>
</section> -->