<div class="jumbotron">
	<!-- <h1>The Good Folks</h1> -->
	<img src="https://farm4.staticflickr.com/3702/13591417945_115fc1f6e6_z.jpg" class="img-responsive">
	<!-- <img src="assets/the-good-folks-light.png" class="img-responsive"> -->
	<h1 style="font-size: 35px;">We're create tools to help charities prosper.</h1>
	<h2 style="color: #e74c3c">Good things, coming soon.</h2>
</div>

<br/>

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<p align="center">Leave your email to stay in touch.</p>
		<form role="form">
			<div class="form-group">
				<label for="email">Email address</label>
		    <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
		  </div>

  		<div class="form-group">
  			<label for="fname">First name</label>
        <input type="text" name="fname" id="fname" class="form-control input-sm" placeholder="First Name">
  		</div>
		  <div class="form-group">
  			<label for="lmane">Last name</label>			  	
		    <input type="text" name="lname" id="lname" class="form-control input-sm" placeholder="Last Name">
		  </div>
		    		
		  <input type="submit" value="Register" class="btn btn-default btn-block">
		    		
		</form>
	</div>
</div>

<!-- <section>
	<h2>About The Good Folks</h2>
	<div class="row"<img src="#">
</section>

<hr>

<section>
	<h2>Contact Us</h2>
</section> -->