<section class="footer">
	<div class="container">
		<div class="col-sm-6 col-sm-offset-3">
			<copyright>Giving with <i class="fa fa-heart" style="color:#e74c3c;"></i> from London<br/>© 2014 The Good Folks</copyright>
			<br/>
			<small>Registered Charity number xxxxxx (England and Wales)</small>
		</div>
	</div>
</section>